
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Features</h2>
                        <p class="text-muted">Check out what you can do with this app!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup ipad_pro landscape silver">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/portfolio/home.png" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
				    <iframe src="//youtube.com/embed/TlAnEzVizV4" frameborder="0" allowfullscreen style="width:304px;height:228px;"</iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <!--i class="icon-screen-smartphone text-primary"></i-->
					<img src="/img/portfolio/1.png" alt="Intutive gestures" style="width:304px;height:228px;">
                                    <h3>Interactive</h3>
                                    <p class="text-muted">Lets you solve problems using simple gestures</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <!--i class="icon-camera text-primary"></i-->
				    <img src="/img/portfolio/2.png" alt="Handholding whenever needed" style="width:304px;height:228px;">
                                    <h3>Hints at every step</h3>
                                    <p class="text-muted">Help is at hand when you are stuck</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <!--i class="icon-present text-primary"></i-->
				    <img src="/img/portfolio/3.png" alt="Handholding whenever needed" style="width:304px;height:228px;">
                                    <h3>Feedback</h3>
                                    <p class="text-muted">Provides instant feedback when you go wrong</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <!--i class="icon-lock-open text-primary"></i-->
				   <img src="/img/portfolio/4.png" alt="Handholding whenever needed" style="width:304px;height:228px;">
                                    <h3>Comprehensive Report</h3>
                                    <p class="text-muted">Comprehensive feedback including ratings for each concept</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
